
<form action="/posts/create-new/{{theCountry}}" method="POST" enctype="multipart/form-data" class='new-post'>
    <h1>Create a new Post</h1>
    <label>Title</label>
    <input type="text" name="title">
    
    <div>
        <label>city</label>
        <select name="city">
            {{#each cities}}
            <option>{{this}}</option>
            {{/each}}
        </select>

    </div>

    <input type="file" name="thePic" class='file-upload'>
   
    <label>content</label>
    <textarea name="content" cols="30" rows="10"></textarea>

    <button>Create</button>
</form>